.customButton{
    padding: 0;
    margin: 0;
    background-color: white;
    box-sizing: border-box;
    border: gray 1px solid;
    border-radius: .2em;
    border-collapse: collapse;
    width: 50px;
    user-select: none;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerImage{
    width: 20px;
    height: 20px;
}