.calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.calculatorButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.calculatorDisplay{
    text-align: right;
    width: 200px;
    font-size: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.calculatorNumbers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 110px;
}

.calculatorOperations{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
}